@import url(style.css);

/* Layout */
.contact {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: 150px repeat(2, 1fr) 70px;
}

.contact-header { 
    grid-area: 1 / 1 / 2 / 6; 
}

.contact-footer { 
    grid-area: 4 / 1 / 5 / 6; 
}

/* contact field layout */
.contact-main { 
    margin-top: 40px;
    grid-area: 2 / 2 / 4 / 5; 
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 50px 80px 350px 50px;
    grid-column-gap: 30px;
    grid-row-gap: 30px;
}

/* single elements of contact field */
#c-namet {
    grid-area: 1 / 1 / 2 / 2;
}

#c-name {
    grid-area: 2 / 1 / 3 / 2;
    border: 3px solid #514945;
    box-shadow: 5px 5px #d55c5a;
    font-size: large;
    font-family: 'Karla', sans-serif;
    padding: 10px;
}

#c-mailt {
    grid-area: 1 / 2 / 2 / 3;
}

#c-mail {
    grid-area: 2 / 2 / 3 / 3;
    border: 3px solid #514945;
    box-shadow: 5px 5px #d55c5a;
    font-size: large;
    font-family: 'Karla', sans-serif;
    padding: 10px;
}

#c-text {
    grid-area: 3 / 1 / 4 / 3;
    border: 3px solid #514945;
    box-shadow: 5px 5px #d55c5a;
    font-size: large;
    font-family: 'Karla', sans-serif;
    padding: 10px;
}

#c-btn {
    grid-area: 4 / 1 / 5 / 3;
    background-color: #514945;
    color: #ebd4cc;
    border: 3px solid #514945;
    font-family: 'Josefin Sans', sans-serif;
    font-weight: bold;
    font-size: 30px;
}

#c-btn:hover {
    cursor: pointer;
    box-shadow: 5px 5px #514945;
    border: 3px solid #d55c5a;
    background-color: #d55c5a;
}