@import url(style.css);

/* Main Page Layout */
.page-layout {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: 150px 2fr 200px 70px;
}

/* Recommended Posts */
.recommended-posts { 
    grid-area: 2 / 1 / 3 / 6; 
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 50px;
    justify-self: center;
    margin-top: 20px;
}

.rp-item {
    background-color: #514945;
    color: #ebd4cc;
    height: 500px;
    width: 350px;
    border-radius: 20px;
    text-align: left;
    margin: 10px 10px;
    padding: 5px 25px 5px 25px;
}

.rp-img {
    width: 100%;
    height: 170px;
    object-fit: cover;
    object-position: center;
    margin-top: 10px;
    border-radius: 20px;
}

.rp-title {
    margin-top: 10px;
}

.date {
    color: #d55c5a;
    margin: -15px 0px;
}

.read-more {
    text-align: center;
    border-radius: 5px;
    border: none;
    color: #ebd4cc;
    font-family: 'Josefin Sans', sans-serif;
    font-weight: bold;
    font-size: 15px;
    padding: 0px 8px;
    height: 30px;
    background-color: #d55c5a;
}

.read-more:hover {
    cursor: pointer;
}

.recommended-posts a {
    text-decoration: none;
}

.rp-item:hover {
    box-shadow: 5px 5px #d55c5a;
    cursor: pointer;
}

/* Other Posts */
.op-container { 
    grid-area: 3 / 1 / 4 / 6;
}

#op-title {
    text-align: center;
    margin-bottom: -20px;
}

.other-posts {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.op-item {
    margin: 20px 50px 0px 10px;
    text-align: center;
}

.op-subtitle:hover {
    color: #d55c5a;
    text-decoration: underline;
    cursor: pointer;
}

.footer-container {
    grid-area: 4 / 1 / 5 / 6;
}