@import url(index.css);
@import url(blog.css);
@import url(contact.css);
@import url(responsive.css);
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Karla&display=swap');

/* general style */
body {
    background-color: #ebd4cc;
}

/* place footer on bottom of page */
.wo-footer {
    min-height: calc(100vh - 10px);
}

/* dividers */
hr.divider-top{
    border-top: 4px solid #514945;
    width: 90%;
}

hr.divider-bottom{
    border-top: 4px solid #514945;
}

hr.divider{
    border-top: 3px solid #514945;
    margin-top: 20px;
}

/* colors */
.colors {
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-align: center;
}

.color {
    height: 100px;
    width: 100px;
    border-radius: 50%;
    box-shadow: 3px 3px 5px #514945;
    margin: 40px 10px;
    line-height: 100px;
    color: white;
    font-family: 'Karla', sans-serif;
    font-size: 15px;
}

#quartz {
    background-color: #514945;
}

#cordovan {
    background-color: #894242;
}

#indian-red {
    background-color: #d55c5a;
}

#tulip {
    background-color: #f5918f;
}

#almond {
    background-color: #ebd4cc;
}

/* Headings & Text */
.center-text {
    text-align: center;
}

h1 {
    color: #514945;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 35px;
}

h2 {
    color: #514945;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 30px;
}

h3 {
    color: #514945;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 25px;
}

p {
    color: #514945;
    font-family: 'Karla', sans-serif;
    font-size: 20px;
    line-height: 30px;
}

.light-text {
    color: #ebd4cc;
}

strong {
    color: #d55c5a;
    font-family: 'Karla', sans-serif;
}

em {
    color: #514945;
    font-family: 'Karla', sans-serif;
}

u {
    color: #514945;
    font-family: 'Karla', sans-serif;
}

a {
    color: #d55c5a;
    font-family: 'Karla', sans-serif;
    font-size: 20px;
}

a:hover {
    color: #f5918f;
}

blockquote {
    color: #d55c5a;
    font-size: 25px;
    font-style: italic;
    font-family: 'Karla', sans-serif;
}

.blog-link {
    color: #d55c5a;
    font-size: 20px;
    font-family: 'Karla', sans-serif;
    text-decoration: underline;
    font-weight: bold;
    line-height: 20px;
}

.blog-link:hover {
    color: #f5918f;
    cursor: pointer;
}

ul {
    color: #514945;
    font-family: 'Karla', sans-serif;
    font-size: 20px;
    line-height: 30px;
}

.center-list {
    display: flex;
    justify-content: center;
}

/* other elements */
.btn {
    text-align: center;
    border-radius: 5px;
    border: none;
    color: #ebd4cc;
    font-family: 'Josefin Sans', sans-serif;
    font-weight: bold;
    font-size: 15px;
    padding: 0px 8px;
    height: 30px;
    background-color: #d55c5a;
}

.btn:hover {
    background-color: #f5918f;
    cursor: pointer;
}

iframe {
    display: block;
    width: 480px; 
    height: 398px;
    margin: 40px auto;
    border: 5px solid #514945;
    box-shadow: 5px 5px #d55c5a;
}

/* navigation bar */
.navigation {
    display: flex;
    flex-direction: row;
    justify-content: center;
    line-height: 40px;
    background-color: #514945;
    border-radius: 40px;
}

.navigation a {
    text-decoration: none;
    color: #ebd4cc;
    text-transform: uppercase;
    font-family: 'Josefin Sans', sans-serif;
    font-weight: bold;
}

.navigation a:hover {
    color: #d55c5a;
    text-decoration: underline;
}

.nav-item {
    text-align: center;
    margin: 10px;
    padding: 5px;
    height: 30px;
    width: 150px;
}

#icon {  
  background-image: url("../images/icon.png");
  background-size: contain;
  background-repeat: no-repeat;
  height: 40px;
  width: 40px;
  border-radius: 50%;
  border: 3px solid #ebd4cc;
}

#title {
    text-align: center;
}

/* Footer Style */
.footer { 
    display: grid;
    grid-template-columns: 250px repeat(4, 1fr) 100px;
    grid-template-rows: repeat(2, 1fr);
}

.author {
    grid-area: 1 / 1 / 3 / 2;
    display: flex;
    flex-direction: row;
    justify-content: left;
    height: 50%;
}

.ft-space {
    grid-area: 1 / 2 / 3 / 6;
}

#photo {
    background-image: url("../images/tatjana.jpg");
    background-size: contain;
    background-repeat: no-repeat;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 4px solid #514945;
    margin-left: 20px;
}

#name {
    margin-left: 15px;
    margin-top: 10px;
}

.subscribe {
    grid-area: 1 / 6 / 2 / 7;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-right: 10px;
}

.socials {
    grid-area: 2 / 6 / 3 / 7;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 5px;
}

.media {
    height: 20px;
    width: 20px;
    margin-right: 10px;
}

#linkedin {
    background-image: url("../images/linkedin.png");
    background-size: contain;
    background-repeat: no-repeat;
}

#twitter {
    background-image: url("../images/twitter.png");
    background-size: contain;
    background-repeat: no-repeat;
}

#instagram {
    background-image: url("../images/instagram.png");
    background-size: contain;
    background-repeat: no-repeat;
}

/* style layout page */
.style-layout {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: 150px 1fr 70px;
}

.header-style {
    grid-area: 1 / 1 / 2 / 6;
}

.main-style {
    grid-area: 2 / 1 / 3 / 6;
}

.footer-style {
    grid-area: 4 / 1 / 5 / 6;
}